


/* ========== Main Styles ========== */

body {
	background: #EFF3F6;
}

.ndroidme-logo img {
	width: 38px;
	margin: 13px 24px;
	float: left;
	outline: none;
}

.headerSeparatorFIx {
	height: 64px;
	width: 100%;
	background: none;
}



/* ========== Header Banner ========== */

.headerBannerHero {
	max-width: 940px;
	margin: 0 auto;
	margin-top: 24px;
	background: url(../img/banner_hero.jpg);
	height: 360px;
	background-position-y: -270px;
	background-position-x: -112px;
	border-radius: 6px;
	margin-bottom: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,.15);
	position: relative;
}

.topBannerContentContainer {
	z-index: 9;
	position: absolute;
	margin-top: 52px;
	margin-left: 64px;
	max-width: 80%;
}

.topBannerContentContainer h1 {
	color: #fff;
	font-size: 40px;
	margin: 0;
	padding: 0;
	font-weight: 400;
	max-width: 400px;
	line-height: 50px;
}

.topBannerContentContainer p {
	color: rgba(255, 255, 255, 0.64);
	font-size: 18px;
	line-height: 28px;
	max-width: 500px;
}

.topColorOverlay {
	background: rgba(100, 114, 205, 0.64);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	border-radius: 6px;
}

.bannerCtaButtons {
	margin-top: 38px;
}

.bannerCtaButtons a {
	color: transparent;
}

.bannerCtaButtons a.ctaOne div {
	background: #FFC107;
	height: 36px;
	line-height: 37px;
	padding: 0 24px;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.84);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.bannerCtaButtons a.ctaOne div:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	cursor: pointer;
	background: #FFCA28;
}

.bannerCtaButtons a.ctaTwo div {
	background: none;
	height: 36px;
	line-height: 37px;
	padding: 0 24px;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: #FFC107;
	margin-left: 20px;
}

.bannerCtaButtons a.ctaTwo div:hover {
	background: rgba(255, 255, 255, 0.1);
	color: #FFCA28;
	cursor: pointer;
}

.bannerCtaButtons a.ctaOne div,
.bannerCtaButtons a.ctaTwo div {
	display: inline-block;
}



/* ========== Featured News Banner ========== */

.featuredNewsBanner {
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
	margin-top: 24px;
	position: relative;
	padding: 52px;
	background-size: cover;
	background-position-y: center;
	margin-bottom: 10px;
	border-radius: 6px;
	box-shadow: 0 1px 1px rgba(0,0,0,.15);
	box-sizing: border-box;
}

.featuredNewsSubcontainer {
	z-index: 9;
	position: relative;
}

.featuredBannerColorOverlay {
	background: rgba(156, 39, 176, 0.44);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 6px;
}

.featuredNewsSubcontainer a {
	color: #fff;
	text-decoration: none;
}

.featuredNewsSubcontainer h1 {
	color: #fff;
	font-size: 34px;
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 44px;
}

.featuredNewsSubcontainer p {
	color: rgba(255, 255, 255, 0.64);
	font-size: 16px;
	max-width: 500px;
	margin-top: 14px;
	margin-bottom: 0;
}

.bannerFeaturedButton {
	text-align: right;
}

.bannerFeaturedButton a.featuredLink div {
	background: #4DD0E1;
	height: 36px;
	line-height: 37px;
	padding: 0 24px;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: rgb(255, 255, 255);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	display: inline-block;
}

.bannerFeaturedButton a.featuredLink div:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	cursor: pointer;
	background: #26C6DA;
}



/* ========== Banner admin panel ========== */

.adminBannerPanelCard {
	background: #333333;
	max-width: 940px;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	box-sizing: border-box;
	padding: 0 8px;
	margin-top: 24px;
	margin-bottom: 10px;
	
	/* Only visible for the admin */
	display: none;
}

.adminBannerPanelCard hr {
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-top: none;
	margin: 0;
	padding: 0;
}

.adminBannerPanelCard .bannerPanelSection {
	height: 46px;
}

.bannerPanelFooterMain {
	text-align: right;
}

.bannerPanelFooterMain .saveBannerChangesBtn,
.bannerPanelFooterMain .cancelBannerChangesBtn {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 36px;
	padding: 0 16px;
	line-height: 37px;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	user-select: none;
}

.bannerPanelFooterMain .saveBannerChangesBtn {
	color: #FFEB3B;
}

.bannerPanelFooterMain .cancelBannerChangesBtn {
	color: #eee;
	margin-right: 4px;
}

.saveBannerChangesBtn:hover,
.cancelBannerChangesBtn:hover {
	background: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}


/* Radio buttons */
.ig-control {
	margin: 0;
	display: inline-block;
	height: 46px;
	line-height: 46px;
	padding: 0 16px;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ig-control__radio:not(:checked),
.ig-control__radio:checked {
	opacity: 0;
	position: absolute;
	margin: 0;
	z-index: -1;
	width: 0;
	height: 0;
	overflow: hidden;
	left: 0;
	pointer-events: none;
}

.ig-control__radio ~ label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	height: 20px;
	line-height: 22px;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.36);
	padding-left: 36px;
	font-weight: 400;
}

.ig-control__radio ~ label:before,
.ig-control__radio ~ label:after {
	position: absolute;
	content: '';
	width: 16px;
	height: 16px;
	left: 0;
	border: 2px solid transparent;
	border-radius: 50% 50%;
}

.ig-control__radio ~ label:before {
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all .2s ease-in;
}

.ig-control__radio:not(:checked) ~ label:before {
	transform: scale(0);
}

.ig-control__radio:not(:checked) ~ label:after {
	border: 2px solid #757575;
}

.ig-control__radio:checked ~ label:before {
	border: 2px solid #4DD0E1;
	background-color: #4DD0E1;
	transform: scale(0.5);
}

.ig-control__radio:checked ~ label:after {
	border: 2px solid #4DD0E1;
}


/* Banner settings */
.bannerPanelIdSelector {
	display: inline-block;
	height: 100%;
	line-height: 45px;
	border-left: 1px dashed rgba(255, 255, 255, 0.1);
	padding-left: 24px;
	margin: 0 20px;
	margin-right: 4px;
}

.bannerPanelIdSelector span {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.24);
	font-weight: 400;
}

.bannerPanelIdSelector .idSelectorInput,
.bannerPanelIdSelector .urlSelectorInput {
	border: none;
	height: 32px;
	margin-left: 8px;
	background: #333;
	border-radius: 2px;
	padding: 0 8px;
	color: #fafafa;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	line-height: 29px;
	outline: none;
}

.bannerPanelIdSelector .idSelectorInput {
	width: 72px;
}

.bannerPanelIdSelector .urlSelectorInput {
	width: 240px;
}



/* ========== Containers ========== */

.main-container {
	width: 100%;
	position: absolute;
	background: #EFF3F6;
}

.article-cards-container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}



/* ========== Filters (Tag menu) ========== */

.filter-container {
	height: 48px;
	max-width: 960px;
	width: 100%;
	padding: 0 10px;
	margin: 6px 0 0 0;
	box-sizing: border-box;
	text-align: right;
	position: relative;
}

.latestInfoTitle {
	float: left;
	height: 48px;
	line-height: 48px;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.48);
}

.menuTrigger {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.54);
	display: inline-block;
	height: 48px;
	padding: 0 16px;
	cursor: pointer;
	border-radius: 2px;
}

.triggerLabelSelection {
    height: 48px;
    float: left;
	line-height: 48px;
}

.menuTrigger i {
    height: 48px;
    float: left;
	line-height: 48px;
	padding-left: 5px;
}

.tagSelectMenu {
	position: absolute;
	z-index: 999;
	background: white;
	top: -8px;
	margin-left: -8px;
	padding: 8px 0;
	max-height: 340px;
	min-width: 168px;
	overflow: auto;
	border-radius: 2px;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	display: none;
	right: -36px;
	text-align: left;
}

.tagSelectMenu::-webkit-scrollbar {
	width: 5px;
	background: transparent;
}

.tagSelectMenu::-webkit-scrollbar-thumb {
	background: #dcdcdc;
}

.tagsMenuItem {
	height: 48px;
	padding: 0 24px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.84);
	box-sizing: border-box;
	line-height: 48px;
	cursor: pointer;
}

.tagsMenuItem:hover {
	background: #eee;
}

.tagsMenuItem:active {
	background: #dcdcdc;
}

.tagsMenuItem.activeItem {
	background: #cdcbcc;
	cursor: default;
}



/* ========== News list (Cards) ========== */

.card-list {
	width: 100%;
}

.news-col  {
	float: left;
	width: calc(100% / 3);
}

.news-card {
	background: #fff;
	width: calc(100% - 20px);
	margin: 10px 10px;
	position: relative;
	float: left;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0,0,0,.15);
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.news-card a {
	text-decoration: none;
	color: initial;
}

.news-card:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
 }
 
.news-card h1 {
	margin: 0;
	padding: 16px;
	font-size: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.84);
	margin-top: -4px;
	line-height: 23px;
}

.news-img {
	width: 100%;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.news-info {
	text-align: right;
	margin: 0 8px;
	padding: 8px 0;
	border-top: 1px solid #EEEEEE;
	color: rgba(0, 0, 0, 0.32);
}

.news-info span {
	margin-right: 10px;
	padding: 2px 5px;
	font-size: 13px;
	font-weight: 600;
	height: 20px;
	display: inline-block;
	line-height: 20px;
}

.news-info span i {
	font-size: 16px;
	margin-top: 2px;
	float: left;
	padding-right: 4px;
}



/* ========== Load More Button ========== */

.loadmore-btn-container {
	background: none;
	width: 100%;
	float: left;
	height: 36px;
	text-align: center;
	margin: 15px 0;
}

.loadmore-btn-container button {
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
	text-shadow: none;
	cursor: pointer;
	height: 36px;
	min-width: 88px;
	padding: 0 16px;
	border-radius: 2px;
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 0, 0, 0.52);
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}

.loadmore-btn-container button:hover {
	background: rgba(0, 0, 0, 0.08);
}

.loadmore-btn-container button:focus {
	background: rgba(0, 0, 0, 0.06);
}

.loadmore-btn-container button:active {
	background: rgba(0, 0, 0, 0.12);
}



/* ========== Page Footer ========== */

.page-footer {
    float: left;
    width: 100%;
    margin-top: 30px;
}



/* ========== Media Queries ========== */

@media screen and (max-width: 960px) {
	
	.headerBannerHero,
	.featuredNewsBanner {
		width: 96%;
	}
	
	.featuredNewsBanner {
		margin-top: 20px;
	}
	
	.tagSelectMenu {
		right: 26px;
		text-align: right;
	}

}

@media screen and (max-width: 840px) {
	
	.featuredNewsBanner {
		margin-top: 8px;
	}
	
	.featuredNewsSubcontainer h1 {
		font-size: 26px;
		line-height: 36px;
	}
	
	.news-col {
		width: 50%;
	}

}

@media screen and (max-width: 600px) {
	
	.headerBannerHero {
		margin-top: 8px;
		height: 320px;
	}
	
	.topBannerContentContainer {
		margin-top: 44px;
		margin-left: 44px;
		max-width: 88%;
	}
	
	.featuredNewsBanner {
		padding: 44px;
	}
	
	.bannerFeaturedButton {
		margin-top: 8px;
	}
	
	.topBannerContentContainer h1 {
		font-size: 30px;
		line-height: 40px;
	}
	
	.topBannerContentContainer p {
		font-size: 16px;
		line-height: 24px;
	}
	
}

@media screen and (max-width: 480px) {
	
	.headerBannerHero {
		height: 284px;
		margin-top: 4px;
	}
	
	.featuredNewsBanner {
		padding: 24px;
		margin-top: 4px;
	}
	
	.featuredBannerColorOverlay {
		background: rgba(156, 39, 176, 0.64);
	}
	
	.featuredNewsSubcontainer h1 {
		font-size: 24px;
		line-height: 34px;
	}
	
	.bannerFeaturedButton {
		margin-top: 12px;
	}
	
	.bannerCtaButtons {
		margin-top: 28px;
	}
	
	.topBannerContentContainer {
		margin: 0 auto;
		width: 100%;
		height: 100%;
		position: inherit;
		max-width: 88%;
		padding-top: 24px;
	}
	
	.news-col {
		width: 100%;
	}

}

@media screen and (max-width: 400px) {
	
	.topBannerContentContainer h1 {
		font-size: 24px;
		line-height: 32px;
	}
	
	.featuredNewsSubcontainer h1 {
		font-size: 22px;
		line-height: 32px;
	}
	
	.topBannerContentContainer p {
		font-size: 14px;
		line-height: 21px;
		margin-top: 8px;
	}
	
	.bannerCtaButtons a.ctaTwo div {
		margin-left: 16px;
	}
	
	.headerBannerHero {
		height: 252px;
	}
	
}