

/* ========== Elements styles ========== */

header .cancel-post {
    width: 100%;
    position: fixed;
    background: #e92d6c;
    color: #fff;
    text-align: center;
    line-height: 64px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    top: 0;
    z-index: 500;
    height: 64px;
    max-height: 64px;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

header .cancel-post:hover {
    background: #D81B60;
}

section.new-post-main-container {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    margin-top: 78px;
    margin-bottom: 28px;
    padding-bottom: 100px;
}

section.new-post-main-container .articleId {
	font-size: 16px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.36);
	height: 48px;
	line-height: 48px;
	text-align: right;
	padding-right: 15px;
	border-radius: 2px;
}

.new-article #post-title {
	font-family: Roboto, sans-serif;
	width: 100%;
	max-width: 100%;
	height: 144px;
	outline: none;
	text-align: center;
	color: #555;
	padding: 15px 15px;
	margin-bottom: 10px;
	background: #fff;
	resize: none;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	box-sizing: border-box;
	font-weight: 300;
	font-size: 44px;
	line-height: 56px;
}

.new-article .post-author-label,
.new-article .post-tags-label {
	text-align: right;
	line-height: 42px;
	margin: 25px 0 15px 0;
	padding: 0 15px;
	font-size: 14px;
	font-weight: 500;
	color: #9E9E9E;
}

.new-article .post-tags-label {
	padding: 0 4px;
}

.new-article #post-author,
.new-article #post-tags {
	font-family: Roboto, sans-serif;
	color: #6472cd;
	outline: none;
	height: 35px;
	padding-left: 15px;
	margin-right: 20px;
	background: #fff;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 500;
	width: 20%;
}

.new-article #post-tags  {
    text-transform: none !important;
}

.addTagsBtn,
span.news_tags {
	color: #fff;
	background: #4FC3F7;
	padding: 6px 12px;
	margin-left: 6px;
	border-radius: 30px;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	font-size: 14px;
	position: relative;
	padding-right: 36px;
	text-transform: capitalize;
	cursor: pointer;
	display: inline-block;
	font-weight: 500;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

span.news_tags {
	display: none;
}

.addTagsBtn i,
span.news_tags i {
	font-size: 20px;
	position: absolute;
	top: 4px;
	right: 4px;
}

.addTagsBtn:hover,
span.news_tags:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	background: #29B6F6;
}

.new-article #post-source-name,
.new-article #post-source-url {
    color: #03a9f4;
    outline: none;
    height: 35px;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 500;
    margin-right:12px;
    background: #fff;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	width: 20%;
	margin-bottom: 16px;
}

.new-article #post-source-name.source2Name {
	margin-left: 73px;
}

.new-article #post-title:focus,
.new-article #post-author:focus,
.new-article #post-tags:focus,
.new-article #post-source-name:focus,
.new-article #post-source-url:focus,
.new-article #post-content:focus {
	border-color: #4FC3F7;
}

.new-article #post-source-url {
    width: calc(80% - 142px);
    margin-right: 0;
}

.new-article #post-tags {
	width: calc(80% - 180px);
	margin-right: 0;
	color: #29d3e8;
	font-size: 13px;
}

.new-article label.post-img-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	text-align: center;
	color: #757575;
	height: 36px;
	line-height: 36px;
	width: auto;
	font-size: 14px;
	margin-top: 16px;
	margin-bottom: 16px;
	border-radius: 2px;
	padding: 0 24px;
	text-transform: uppercase;
	border: 1px dashed #E0E0E0;
}

.new-article label.post-img-label input {
    position: absolute;
    width: 0;
    opacity: 0;
    filter: alpha(opacity = 0);
    left: -152px;
    top: 0;
    cursor: pointer;
}

.new-article #post-content {
    outline: none;
    width: 100%;
    max-width: 100%;
    height: 300px;
    padding: 30px;
    font-size: 19px;
    line-height: 1.352;
    color: #333;
    font-family: Roboto, sans-serif;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #E0E0E0;
	border-radius: 2px;
	box-sizing: border-box;
}

.new-article .post-source-label {
    color: #8A8A8A;
    font-size: 16px;
	padding: 0 16px 0 0;
}

.new-article #post-publish {
	margin-top: 15px;
	font-family: 'Roboto', sans-serif;
	float: right;
	border: none;
	outline: none;
	background-color: #29d3e8;
	height: 36px;
	padding: 0 24px;
	color: #fff;
	border-radius: 2px;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.new-article #post-publish:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	background: #00BCD4;
}

.image-preview {
    margin-bottom: 2px;
}

.new-article textarea::-webkit-scrollbar {
	width: 9px;
	background: transparent;
}

.new-article textarea::-webkit-scrollbar-thumb {
	background: #dcdcdc;
	border: 2px solid white;
}



/* ========== Tag modal ========== */

.tagModalOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 999;
}

.tagModalContainer {
	background: #fff;
	max-width: 620px;
	width: 100%;
	height: 340px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	-webkit-box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
	border-radius: 2px;
}

.modal h1 {
	margin: 0;
	padding: 24px 24px 20px 24px;
	font-size: 20px;
	font-weight: 500;
}

.modal .modalContainer {
	padding: 0 24px 24px 24px;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.modal .modalFooter {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: right;
	height: 52px;
	box-sizing: border-box;
	padding-right: 8px;
}
 
.modal .modalFooter .modalActionBtn {
	display: inline-block;
	height: 36px;
	margin-top: 8px;
	line-height: 37px;
	margin-left: 4px;
	min-width: 64px;
	text-align: center;
	padding: 0 8px;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: #29d3e8;
	cursor: pointer;
	border-radius: 2px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

.modal .modalFooter .modalActionBtn:hover {
	background: rgba(0, 0, 0, 0.03);
}

.modal .modalFooter .modalActionBtn:active {
	background: rgba(0, 0, 0, 0.1);
	color: #0097A7;
}


/* Tag selection & chackboxes */

.tagListCol {
	float: left;
	width: 20%;
}

.tagItemSelect {
	line-height: 33px;
	height: 33px;
	margin-bottom: 6px;
	border-radius: 30px;
	color: #4fc3f7;
	font-weight: 500;
	font-size: 14px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.tagItemSelect input[type=checkbox] {
	width: 18px;
	height: 18px;
	font: inherit;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: #fff;
	border-radius: 2px;
	box-sizing: border-box;
	border: 2px solid #E0E0E0;
	box-shadow: inset 0 0 0 0 #4fc3f7;
	position: relative;
	-webkit-transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s;
	transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	cursor: pointer;
}

.tagItemSelect input[type=checkbox]:focus {
	outline: none;
}

.tagItemSelect input[type=checkbox]:checked {
	border-color: #4fc3f7;
	box-shadow: inset 0 0 0 10px #4fc3f7;
	-webkit-transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s;
	transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
}

.tagItemSelect input[type=checkbox]:before,
.tagItemSelect input[type=checkbox]:after {
	content: '';
	background: #fff;
	height: 20px;
	width: 20px;
	position: absolute;
	-webkit-transform: translate(0.2728em, 0.4279em) rotate(44.91deg) scale(0.3411, 0.1);
	transform: translate(0.2728em, 0.4279em) rotate(44.91deg) scale(0.3411, 0.1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	transition: opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1), opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1), -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
	top: -3px;
	left: -3px;
}

.tagItemSelect input[type=checkbox]:after {
	-webkit-transform: translate(0.8494em, 0.35em) rotate(135.22deg) scale(0.5612, 0.1);
	transform: translate(0.8494em, 0.35em) rotate(135.22deg) scale(0.5612, 0.1);
}

.tagItemSelect input[type=checkbox]:not(:checked):before {
	-webkit-transform: translate(0.505em, 0.455em) rotate(44.91deg) scale(0.1, 0.1);
	transform: translate(0.505em, 0.455em) rotate(44.91deg) scale(0.1, 0.1);
	/* opacity: 0; */
}

.tagItemSelect input[type=checkbox]:not(:checked):after {
	-webkit-transform: translate(0.575em, 0.525em) rotate(135.22deg) scale(0.1, 0.1);
	transform: translate(0.575em, 0.525em) rotate(135.22deg) scale(0.1, 0.1);
	/* opacity: 0; */
}

.tagItemSelect input.fs1 {
	font-size: 20px;
	margin-right: 12px;
	margin-top: 1px;
}



/* ========== Text editor ========== */

#quill-container {
	height: auto;
	min-height: 264px;
	padding: 18px 15px;
}

#quill-container p {
	margin: 0 0 25px 0;
	font-size: 18px;
	line-height: 30px;
	color: #333;
}

#quill-container p:last-child {
	margin: 0;
}

.ql-editor .ql-video {
	width: 778px;
	height: 438px;
	margin-bottom: 25px;
}

.ql-snow .ql-editor blockquote {
	margin-bottom: 0;
	margin-top: 0;
	margin: 0 0 25px 0;
	font-size: 18px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.64);
}

.ql-snow a {
	color: #03A9F4;
}

.ql-snow .ql-editor a {
	text-decoration: none;
	color: #03A9F4;
	cursor: pointer;
}

#quill-container .ql-editor {
	font-family: 'Roboto', sans-serif;
}

.ql-editor.ql-blank {
	min-height: 200px;
}

.ql-editor.ql-blank::before {
	color: #a9a9a9;
	content: attr(data-placeholder);
	font-style: normal;
	pointer-events: none;
	position: absolute;
	font-size: 19px;
	font-family: Roboto, sans-serif;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
	margin-top: 6px;
	padding: 5px;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
	border-color: #fff;
}

.ql-snow .ql-color-picker.ql-color .ql-picker-item {
	border-radius: 20px;
}

.ql-toolbar.ql-snow .ql-picker-options {
	box-shadow: 0px 0px 5px #ddd;
}

.ql-snow .ql-color-picker .ql-picker-options {
	width: 180px;
}

.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item.ql-selected,
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item:hover {
	border-color: rgba(255, 255, 255, 0.64);
	border-width: 2px;
}

.ql-toolbar.ql-snow {
	border: none;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	border-bottom: 1px solid #eaeaea;
	padding: 12px;
	padding-left: 24px;
}

.ql-snow .ql-tooltip {
	padding: 9px 16px;
	border-radius: 2px;
}

.ql-snow .ql-tooltip input[type=text] {
	border: 1px solid #e0e0e0;
	height: 28px;
	padding: 4px 8px;
	width: 180px;
	margin: 0 6px;
}

.ql-snow .ql-tooltip a.ql-action::after {
	margin-right: 8px;
	margin-left: 8px;
}

.ql-snow .ql-tooltip a.ql-preview {
	margin-right: 8px;
}

.ql-snow .ql-tooltip a {
	display: inline-block;
	box-sizing: border-box;
	margin-left: 8px;
}

.ql-snow .ql-tooltip a.ql-remove::before {
	margin-left: -8px;
}

.ql-snow .ql-color-picker .ql-picker-item {
	margin: 4px;
}

.ql-container.ql-snow {
	border: none;
}


/*  Editor Container  */

.editContentContainer {
	max-width: 840px;
	margin: 0 auto;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	margin-bottom: 24px;
	margin-top: 18px;
	position: relative;
}



/* ========== Info popup (tooltip) ========== */

.editContentHelp {
	height: 20px;
	width: 20px;
	position: absolute;
	right: 13px;
	top: 13px;
	color: #FFC107;
	cursor: pointer;
}

.editContentHelp i {
	font-size: 20px;
}

[data-tooltip]:before {
    position: absolute;
    top: 26px;
    margin-top: 5px;
    margin-left: -192px;
    padding: 10px 16px;
    width: 184px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 3px;
    background-color: #212121;
    color: #9E9E9E;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

[data-tooltip]:before, [data-tooltip]:after {
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

[data-tooltip]:hover:before, [data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

[data-tooltip] {
	z-index: 2;
	cursor: pointer;
}



/* ========== Media Queries ========== */

@media screen and (max-width: 840px) {
	
	section.new-post-main-container {
		width: 96%;
	}
	
	.new-article #post-author, .new-article #post-tags {
		width: calc(100% - 71px);
		margin-right: 0;
		margin-bottom: 8px;
	}
	
	.new-article #post-tags {
		width: calc(100% - 86px);
		margin-top: 14px;
	}
	
	.image-preview {
		width: 100%;
	}
	
	.new-article #post-source-name, .new-article #post-source-url {
		width: 100%;
		box-sizing: border-box;
		margin-top: 12px;
		margin-right: 0;
	}
	
	.new-article #post-source-url {
		width: 100%;
		box-sizing: border-box;
		margin-top: 0;
	}
	
	.new-article #post-source-name.source2Name {
		margin-left: 0;
	}
	
	.new-article label.post-img-label {
		display: block;
	}
	
	.new-article .post-source-label {
		padding: 0;
	}
	
	.tagModalContainer {
		max-width: 96%;
		width: 100%;
		height: 78%;
	}
	
	.tagListCol {
		width: 33%;
	}
	
}

@media screen and (max-width: 600px) {
	
	section.new-post-main-container h1 {
		text-align: left;
	}
	
	header .cancel-post {
		line-height: 56px;
		height: 56px;
	}
	
	.new-article #post-content {
		padding: 16px;
	}
	
	.new-article #post-title {
		font-size: 38px;
		line-height: 52px;
	}
	
	section.new-post-main-container {
		padding-bottom: 64px;
		margin-top: 70px;
	}
	
	.ql-toolbar.ql-snow .ql-formats {
		margin-bottom: 3px;
		margin-top: 3px;
	}
	
	.tagModalContainer {
		max-width: 100%;
		width: 100%;
		height: 100%;
		border-radius: 0;
	}
	
	.tagListCol {
		width: 50%;
	}
	
}