

/* ========== Elements styles ========== */

header .cancel-post {
    width: 100%;
    position: fixed;
    background: #e92d6c;
    color: #fff;
    text-align: center;
    line-height: 64px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    top: 0;
    z-index: 500;
    height: 64px;
    max-height: 64px;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

header .cancel-post a {
	color: #fff;
	text-decoration: none;
}

header .cancel-post:hover {
    background: #D81B60;
}

section.new-post-main-container {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    margin-top: 78px;
    margin-bottom: 28px;
    padding-bottom: 100px;
}

.topSection {
	border-bottom: 1px solid #E0E0E0;
    padding-bottom: 24px;
}

.new-article #post-title {
	font-family: Roboto, sans-serif;
	width: 100%;
	max-width: 100%;
	outline: none;
	text-align: center;
	color: #555;
	padding: 15px 15px;
	margin-top: 24px;
	background: #fff;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	box-sizing: border-box;
	font-weight: 300;
	font-size: 44px;
	line-height: 56px;
}

.new-article #post-title:focus {
	border-color: #4FC3F7;
}

.article-info {
	font-size: 14px;
	font-weight: 500;
	color: #9E9E9E;
	padding: 0 15px;
	height: 72px;
	line-height: 72px;
}

.article-info a {
	text-decoration: none;
}

.article-info span.news_tags {
	color: #fff;
	background: #4FC3F7;
	padding: 6px 12px;
	margin-left: 6px;
	border-radius: 30px;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	font-size: 14px;
	position: relative;
	padding-right: 36px;
	text-transform: capitalize;
	cursor: pointer;
}

.article-info span.addTag {
	color: #fff;
	background: #607D8B;
	padding: 6px 12px;
	border-radius: 2px;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	font-size: 14px;
	position: relative;
	text-transform: capitalize;
	padding-right: 16px;
	margin-left: 10px;
	cursor: pointer;	
}

.article-info span.addTag.addDisabled {
	opacity: .24;
	cursor: default;
}

.article-info span.news_tags:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	background: #29B6F6;
}

.article-info span.news_tags i,
.article-info span.addTag i {
	font-size: 20px;
	position: absolute;
	top: 4px;
	right: 4px;
}

.articleEditImg {
	width: 840px;
}

.new-article #post-source-name,
.new-article #post-source-url {
    color: #03a9f4;
    outline: none;
    height: 35px;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 12px;
    background: #fff;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	width: 20%;
	margin-bottom: 16px;
}

.new-article #post-source-name.source2Name {
	margin-left: 73px;
}

.new-article #post-source-name:focus,
.new-article #post-source-url:focus {
	border-color: #4FC3F7;
}

.new-article #post-source-url {
    width: calc(80% - 142px);
    margin-right: 0;
}

.fromvia {
	color: #8A8A8A;
	font-size: 16px;
	padding: 0 16px 0 0;
}

input#saveEditPost {
	margin-top: 15px;
	font-family: 'Roboto', sans-serif;
	float: right;
	border: none;
	outline: none;
	background-color: #29d3e8;
	height: 36px;
	padding: 0 24px;
	color: #fff;
	border-radius: 2px;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

input#saveEditPost:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	background: #00BCD4;
}

.new-article textarea::-webkit-scrollbar {
	width: 9px;
	background: transparent;
}

.new-article textarea::-webkit-scrollbar-thumb {
	background: #dcdcdc;
	border: 2px solid white;
}



/* ========== Text editor ========== */

#quill-container {
	height: auto;
	min-height: 264px;
	padding: 18px 15px;
}

#quill-container p {
	margin: 0 0 25px 0;
	font-size: 18px;
	line-height: 30px;
	color: #333;
}

#quill-container p:last-child {
	margin: 0;
}

.ql-editor .ql-video {
	width: 778px;
	height: 438px;
	margin-bottom: 25px;
}

.ql-snow .ql-editor blockquote {
	margin-bottom: 0;
	margin-top: 0;
	margin: 0 0 25px 0;
	font-size: 18px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.64);
}

.ql-snow a {
	color: #03A9F4;
}

.ql-snow .ql-editor a {
	text-decoration: none;
	color: #03A9F4;
	cursor: pointer;
}

#quill-container .ql-editor {
	font-family: 'Roboto', sans-serif;
}

.ql-editor.ql-blank {
	min-height: 200px;
}

.ql-editor.ql-blank::before {
	color: #a9a9a9;
	content: attr(data-placeholder);
	font-style: normal;
	pointer-events: none;
	position: absolute;
	font-size: 19px;
	font-family: Roboto, sans-serif;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
	margin-top: 6px;
	padding: 5px;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
	border-color: #fff;
}

.ql-snow .ql-color-picker.ql-color .ql-picker-item {
	border-radius: 20px;
}

.ql-toolbar.ql-snow .ql-picker-options {
	box-shadow: 0px 0px 5px #ddd;
}

.ql-snow .ql-color-picker .ql-picker-options {
	width: 180px;
}

.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item.ql-selected,
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item:hover {
	border-color: rgba(255, 255, 255, 0.64);
	border-width: 2px;
}

.ql-toolbar.ql-snow {
	border: none;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	border-bottom: 1px solid #eaeaea;
	padding: 12px;
	padding-left: 24px;
}

.ql-snow .ql-tooltip {
	padding: 9px 16px;
	border-radius: 2px;
}

.ql-snow .ql-tooltip input[type=text] {
	border: 1px solid #e0e0e0;
	height: 28px;
	padding: 4px 8px;
	width: 180px;
	margin: 0 6px;
}

.ql-snow .ql-tooltip a.ql-action::after {
	margin-right: 8px;
	margin-left: 8px;
}

.ql-snow .ql-tooltip a.ql-preview {
	margin-right: 8px;
}

.ql-snow .ql-tooltip a {
	display: inline-block;
	box-sizing: border-box;
	margin-left: 8px;
}

.ql-snow .ql-tooltip a.ql-remove::before {
	margin-left: -8px;
}

.ql-snow .ql-color-picker .ql-picker-item {
	margin: 4px;
}

.ql-container.ql-snow {
	border: none;
}


/*  Editor Container  */

.editContentContainer {
	max-width: 840px;
	margin: 0 auto;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	margin-bottom: 24px;
	margin-top: 18px;
	position: relative;
}



/* ========== Info popup (tooltip) ========== */

.editContentHelp {
	height: 20px;
	width: 20px;
	position: absolute;
	right: 13px;
	top: 13px;
	color: #FFC107;
	cursor: pointer;
}

.editContentHelp i {
	font-size: 20px;
}

[data-tooltip]:before {
    position: absolute;
    top: 26px;
    margin-top: 5px;
    margin-left: -192px;
    padding: 10px 16px;
    width: 184px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 3px;
    background-color: #212121;
    color: #9E9E9E;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

[data-tooltip]:before, [data-tooltip]:after {
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

[data-tooltip]:hover:before, [data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

[data-tooltip] {
	z-index: 2;
	cursor: pointer;
}



/* ========== Media Queries ========== */

@media screen and (max-width: 840px) {
	
	section.new-post-main-container {
		width: 96%;
	}
	
	.articleEditImg {
		width: 100%;
	}
	
	.article-info {
		height: auto;
		padding: 8px 15px;
		line-height: 42px;
	}
	
	.article-info span.news_tags {
		margin-left: 12px;
	}
	
	.new-article #post-source-name, .new-article #post-source-url {
		width: 100%;
		box-sizing: border-box;
		margin-top: 12px;
		margin-right: 0;
	}
	
	.new-article #post-source-url {
		width: 100%;
		box-sizing: border-box;
		margin-top: 0;
	}
	
	.new-article #post-source-name.source2Name {
		margin-left: 0;
	}
	
}

@media screen and (max-width: 600px) {
	
	header .cancel-post {
		line-height: 56px;
		height: 56px;
	}
	
	.new-article #post-content-edit {
		padding: 16px;
	}
	
	.new-article #post-title {
		font-size: 38px;
		line-height: 52px;
	}
	
	section.new-post-main-container {
		padding-bottom: 64px;
		margin-top: 70px;
	}
	
	.ql-toolbar.ql-snow .ql-formats {
		margin-bottom: 3px;
		margin-top: 3px;
	}
	
	.article-info span.news_tags {
		display: inline-block;
		box-sizing: border-box;
		height: 29px;
		line-height: 17px;
	}
	
}