


/* ========== Main Container ========== */

.main-container {
	max-width: 840px;
	margin: 0 auto;
	margin-top: 90px;
	margin-bottom: 50px;
}



/* ========== Vote Container ========== */

.vote-container {
	height: auto;
	width: auto;
	position: absolute;
	top: 125px;
	margin-left: -100px;
}

.vote-container button {
	width: 42px;
	height: 42px;
	border: none;
	outline: none;
	text-shadow: none;
	box-shadow: none;
	border-radius: 50px;
	background: none;
	color: #9E9E9E;
}

.vote-container button:hover {
	cursor: pointer;
	color: #757575;
}

.vote-container button:active {
	background: #fafafa;
}

.vote-container button.voteNotActive:active,
.vote-container button.voteNotActive:hover {
	background: none;
	cursor: default;
}

.vote-container button.downVote {
	color: #eee !important;
}

.vote-container .likes {
	min-width: 42px;
	text-align: center;
	padding: 2px 0;
	font-size: 18px;
	font-weight: 500;
	/*font-family: Roboto medium;*/
	text-transform: uppercase;
	color: #AAAAAA;
}



/* ========== Article top section ========== */

.article-header h1 {
	text-align: center;
	font-weight: 300;
	font-size: 44px;
	line-height: 56px;
	position: relative;
	color: #555;
	padding: 30px 30px 10px 30px;
	margin: 0;
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 30px;
}

.article-info {
	font-size: 14px;
	font-weight: 500;
	/*font-family: Roboto medium;*/
	color: #9E9E9E;
	padding: 0 15px;
	height: 72px;
	line-height: 72px;
}

.article-info a {
    color: #6472cd;
    text-decoration: none;
}

.article-info a:hover {
    color: #505ba4;
	cursor: pointer;
}

.article-info a.news_tags {
    color: #FFFFFF;
    background: #29d3e8;
    padding: 4px 10px;
    margin-left: 5px;
    border-radius: 20px;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    font-size: 13px;
}

.article-info a.news_tags:hover {
    background: #00BCD4;
}



/* ========== Article image ========== */

.article-image img {
    width: 100%;
}



/* ========== Article content ========== */

.article-content {
	padding: 30px 0 20px 0;
	color: #333;
}

.article-content p {
    margin: 0 0 25px 0;
    text-align: left;
    font-size: 19px;
    line-height: 28.5px;
}



/* ========== Article source (From/via) ========== */

.fromvia {
    color: #8A8A8A;
    font-size: 16px;
    /*font-family: Roboto Medium, sans-serif;*/
    padding: 0 0 30px 0;
}

.fromvia a {
    color: #03a9f4;
    text-decoration: none;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.fromvia a:hover {
    opacity: .87;
}



/* ========== Share section (Social links) ========== */

.share-article {
    height: 100px;
    width: 100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    position: relative;
}

.share-article .share-txt,
.share-article .share-links {
    float: left;
}

.share-article .share-txt {
	color: rgba(0, 0, 0, 0.54);
	font-size: 18px;
	line-height: 100px;
	padding-right: 42px;
	text-align: right;
	width: 50%;
	box-sizing: border-box;
}

.share-article .share-links {
	margin: 0;
	height: 100px;
	width: 50%;
	box-sizing: border-box;
	text-align: left;
	padding-top: 29px;
	padding-left: 42px;
}

.share-article .share-links img {
    width: 42px;
    margin: 0 10px;
}

.share-article .share-links a {
    text-decoration: none;
}

.share-article .share-links img:hover {
    opacity: .87;
}



/* ========== Comments ========== */

.comment-section {
    background: #fff;
    width: 100%;
    min-height: 300px;
}



/* ========== Tooltip Styles ========== */

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}


/* Hide the tooltip content by default */

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}


/* Position tooltip below the element */

[data-tooltip]:before {
	position: absolute;
	top: 37px;
	left: 50%;
	margin-top: 5px;
	margin-left: -120px;
	padding: 10px;
	width: 130px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 3px;
	background-color: #212121;
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 13px;
	line-height: 16px;
}


/* Show tooltip content on hover */

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}



/*======= Button ripple effect =======*/

/* WIP */



/* ========== Media Queries ========== */

@media screen and (max-width: 840px) {
    
    .header-extention {
        display: none;
    }
    
    .vote-container {
        display: none;
    }
    
    .main-container {
        box-shadow: none;
        margin-top: 56px;
        margin-bottom: 0;
    }
    
    .article-header h1 {
        font-size: 28px;
        line-height: 32px;
        padding: 30px 10px 10px 10px;
    }
    
    .article-info {
        font-size: 14px;
    }
    
    .article-info a.news_tags {
        padding: 0;
        color: #FF4081;
        background: #FFFFFF;
    }
    
    .article-content {
        padding: 20px 15px 15px 15px;
    }
    
    .article-content p {
        font-size: 16px;
        margin: 0 0 20px 0;
    }
    
    .fromvia {
        font-size: 15px;
        padding: 0 0 20px 15px;
    }
    
    .share-article {
        height: 150px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .share-article .share-txt {
        padding-left: 0;
        text-align: center;
        width: 100%;
        line-height: 75px;
        font-size: 20px;
    }
    
    .share-article .share-links {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    
    .share-article .share-links img {
        float: none;
    }

}