


/* ========== Main Styles ========== */


html {
	height: 100%;
}

body {
	background: #EFF3F6;
	height: calc(100% - 64px);
}

.main-container {
	height: calc(100% - 150px);
}



/* ========== Profile header ========== */


.profileHeaderContainer {
	background: #6472cd;
	height: 150px;
	margin-top: 64px;
	position: relative;
	box-sizing: border-box;
}

.profileInfoContainer {
	height: 102px;
	width: 100%;
	max-width: 440px;
	margin: 0 auto;
}

.profileInfoLeft,
.profileInfoRight {
	height: 100%;
	float: left;
}

.profileInfoLeft {
	width: 72%;
}

.profileInfoRight {
	width: 28%;
	text-align: center;
}

.profileInfoRight img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: 2px solid #fff;
	margin-top: 16px;
}

.profileName {
	font-size: 24px;
	color: rgba(255, 255, 255, 0.72);
	padding: 0 16px;
	padding-top: 24px;
}

i.material-icons.profileMenuIcon {
	font-size: 22px;
	color: rgba(0, 0, 0, 0.24);
	display: inline-block;
	vertical-align: sub;
	margin-left: 22px;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

i.material-icons.profileMenuIcon:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	color: rgba(0, 0, 0, 0.32);
}

.profileEmail {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.36);
	padding: 0 16px;
	padding-top: 4px;
}

/*.editProfileBtn {
	height: 36px;
	line-height: 37px;
	padding: 0 24px;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: #FFC107;
	background: rgba(255, 255, 255, 0.12);
	display: inline-block;
	margin: 16px;
	cursor: pointer;
	margin-top: 24px;
}*/



/* ========== Profile content ========== */


/* Tabs */

.fixTheTabs {
	width: 100%;
	background: #6472cd;
	z-index: 99;
}

.fixTheTabs.tabFixed {
	position: fixed;
	top: 64px;
}

.tab-wrap {
	width: 940px;
	margin: 0 auto;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

input[type="radio"][name="tabs"] {
	position: absolute;
	z-index: -999;
}

input[type="radio"][name="tabs"]:checked + .tab-label-content label {
	color: white;
}

input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .slide {
	left: calc((100% / 4) * 0);
}

input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .slide {
	left: calc((100% / 4) * 1);
}

input[type="radio"][name="tabs"]:nth-of-type(3):checked ~ .slide {
	left: calc((100% / 4) * 2);
}

input[type="radio"][name="tabs"]:nth-of-type(4):checked ~ .slide {
	left: calc((100% / 4) * 3);
}

input[type="radio"][name="tabs"]:first-of-type:checked ~ .slide {
	left: 0;
}

.tab-wrap label {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.7);
	background-color: #6472cd;
	box-sizing: border-box;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	height: 48px;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
	width: 100%;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}

.slide {
	background: #FFC107;
	width: calc(100% / 4);
	height: 2px;
	position: absolute;
	left: 0;
	top: calc(100% - 2px);
	-webkit-transition: left 0.3s ease-out;
	transition: left 0.3s ease-out;
}

.tab-label-content {
	width: 100%;
}

/* Tabs content */

.tabContentContainer {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	min-height: 100%;
	box-sizing: border-box;
	padding-top: 16px;
}

.feedHighlightsSection,
.feedTrendingSection {
	min-height: 200px;
	margin-bottom: 32px;
}

.feedSectionTitleBar {
	position: relative;
	margin-left: 8px;
	margin-top: 24px;
}

.feedSectionTitleBar .feedSectionTitleMain {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.84);
	font-weight: 500;
	padding-bottom: 4px;
}

.feedSectionTitleBar .feedSectionSubtitle {
	color: #616161;
	font-size: 14px;
	font-weight: 400;
	opacity: .75;
	margin-bottom: 16px;
}

.feedSectionTitleBar .feedSectionConfigBtn {
	position: absolute;
	top: 7px;
	right: 16px;
	color: rgba(0, 0, 0, 0.24);
	font-size: 24px;
	border-radius: 30px;
	width: 32px;
	height: 32px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 4px;
}

.feedSectionTitleBar .feedSectionConfigBtn:hover {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.32);
	background: rgba(0, 0, 0, 0.1);
}

.feedArticlesContainer {
	width: 100%;
}


/* News cards */

.news-card {
	background: #fff;
	width: calc((100% / 3) - 19px);
	margin: 10px 10px;
	position: relative;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0,0,0,.15);
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	vertical-align: top;
	margin-right: 6px;
}

.news-card a {
	text-decoration: none;
	color: initial;
}

.news-card:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.news-card h1 {
	margin: 0;
	padding: 16px;
	font-size: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.84);
	margin-top: -4px;
	line-height: 23px;
}

.news-img {
	width: 100%;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.news-info {
	text-align: right;
	margin: 0 8px;
	padding: 8px 0;
	border-top: 1px solid #EEEEEE;
	color: rgba(0, 0, 0, 0.32);
}

.news-info span {
	margin-right: 10px;
	padding: 2px 5px;
	font-size: 13px;
	font-weight: 600;
	height: 20px;
	display: inline-block;
	line-height: 20px;
}

.news-info span i {
	font-size: 16px;
	margin-top: 2px;
	float: left;
	padding-right: 4px;
}